body {
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
}

.navbar {
  width: 100%;
  background-color: #333;
  height: 72px;
}

#navbar-container {
  width: 1200px;
  text-align: center;
}

#navbar-container ul {
  list-style-type: none;
}

#navbar-container img {

}

#navbar-container li {
  display : inline-block;
}