body {
  padding : 0px;
  margin: 0px;
}

#navbar-container {
  width : 1200px;
  height: 70px;
  margin: 0 auto;
}

.navbar {
  background-color: black;
  width: 100%;
  height: 70px;
  text-align: center;
}

.navbar img {
  float: left;
}

.navbar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  dsplay:inline-block;
  vertical-align: top;
}
.navbar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  
}