body {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #222;
  height: 72px;
}

#navbar-container {
  width: 1200px;
  text-align: center;
}

#navbar-container ul {
  list-style-type: none;
  margin: 0px;
  text-align: right;
}

#navbar-container img {
  float: left;
}

#navbar-container li {
  display : inline-block;
  padding: 20px;
  line-height: 30px;
}

#navbar-container a {
  text-decoration: none;
  color: #FFF;
}

#home {
  font-weight: bold;
}

#navbar-container a:hover {
  font-size: 16.5px;
}

.sumheader {
  padding: 20px;
}

.sumheader img {
  float : right;
  padding: 0px 20px;
}

.sumheader img:hover {
  cursor: pointer;
}

.summary {
  margin: 0px;
  padding: 40px;
  display: inline;
  color: #4086F8;
}

.state {
  display: inline;
  height: 300px;
  text-align: center;
}
.icon {
  float : left;
  width: 200px;
  height: 200px;
  background-color: #4086F8;
  border-radius: 50%;
  margin: 0px 40px;
}

.state h3 {
  font-size: 28px;
  font-weight: normal;
}
.name {
  font-weight: bold;
  font-size:
}