{% extends 'layout.html' %}

{% block main %}
<form action="/change" method="post">
    <div class="mb-3">
        <input type = "text" class="form-control mx-auto w-auto"  name = "old" placeholder = "Old password">
    </div>
    <div class="mb-3">
        <input type = "password" class="form-control mx-auto w-auto"  name = "new" placeholder = "New password">
    </div>
    <div class="mb-3">
        <input type = "password" class="form-control mx-auto w-auto"  name = "confirmation" placeholder = "Confirmation">
    </div>

    <button class="btn btn-primary" type="submit">Change password</button>
</form>
{% endblock %}