{% extends 'layout.html' %}

{% block main %}
<table>
    <tr>
        <th>Symbol</th>
        <th>Number of shares owned</th>
        <th>Current price</th>
        <th>Total value of holding</th>
        <th>Current cash balance</th>
        <th>Grand total</th>
    </tr>
    {% for item in data %}
        <tr>
            <td> {{ item['symbol'] }}</td>
            <td> {{ item['shares'] }}</td>
            <td> {{ item['price'] }}</td>
            <td> {{ item['holding'] }}</td>
            <td> {{ item['cash'] }}</td>
            <td> {{ item['total'] }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}